<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">New message</a>
    <div>
      <% for (const msg of messages) { %>
        <div>
          <p><%= msg.added.toLocaleDateString() %></p>
          <div>
            <span><%= msg.user %>: </span>
            <span><em><%= msg.text %></em></span>
          </div> 
        </div>
      <% } %>
    </div>
    
  </body>
</html>
